# Project specified
/.vs
/myiot.X/dist
/myiot.X/nbproject/private

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/AzureIotPnpDps.X/.vs
/AzureIotDps.X/.vs
AzureIotPnpDps.X/dist/default/production/memoryfile.xml
AzureIotPnpDps.X/nbproject/Makefile-genesis.properties
AzureIotPnpDps.X/nbproject/private/configurations.xml
AzureIotPnpDps.X/dist/default/production/memoryfile.xml
*.mk
AzureIotPnpDps.X/nbproject/Makefile-default.mk
AzureIotPnpDps.X/nbproject/Makefile-genesis.properties
AzureIotPnpDps.X/nbproject/Makefile-impl.mk
AzureIotPnpDps.X/nbproject/Makefile-local-default.mk
AzureIotPnpDps.X/nbproject/Makefile-variables.mk
AzureIotPnpDps.X/nbproject/Package-default.bash
AzureIotPnpDps.X/nbproject/private/configurations.xml
*.xml
*.tmp
